contentReviewerBlueprint.txt
{
    "name": "STARTUPLAB Content Reviewer webhook (SUPABASE)",
    "flow": [
        {
            "id": 17,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3825972,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "SUPABASE REVIEW WEBHOOK"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "contentCalendarId",
                        "type": "text"
                    },
                    {
                        "name": "status",
                        "type": "text"
                    },
                    {
                        "name": "companyId",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "supabase:searchRows",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13605642
            },
            "filter": {
                "name": "Only Review",
                "conditions": []
            },
            "mapper": {
                "limit": "1",
                "table": "contentCalendar",
                "search": [
                    [
                        {
                            "a": "contentCalendarId",
                            "b": "{{17.contentCalendarId}}",
                            "o": "text:eq."
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "contentCalendar"
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "contentCalendar",
                            "nested": [
                                {
                                    "name": "search",
                                    "type": "filter",
                                    "label": "Search criteria",
                                    "options": {
                                        "logic": "and",
                                        "store": [
                                            {
                                                "label": "contentCalendarId",
                                                "value": "contentCalendarId"
                                            },
                                            {
                                                "label": "created_at",
                                                "value": "created_at"
                                            },
                                            {
                                                "label": "date",
                                                "value": "date"
                                            },
                                            {
                                                "label": "brandHighlight",
                                                "value": "brandHighlight"
                                            },
                                            {
                                                "label": "crossPromo",
                                                "value": "crossPromo"
                                            },
                                            {
                                                "label": "theme",
                                                "value": "theme"
                                            },
                                            {
                                                "label": "contentType",
                                                "value": "contentType"
                                            },
                                            {
                                                "label": "channels",
                                                "value": "channels"
                                            },
                                            {
                                                "label": "targetAudience",
                                                "value": "targetAudience"
                                            },
                                            {
                                                "label": "primaryGoal",
                                                "value": "primaryGoal"
                                            },
                                            {
                                                "label": "cta",
                                                "value": "cta"
                                            },
                                            {
                                                "label": "promoType",
                                                "value": "promoType"
                                            },
                                            {
                                                "label": "status",
                                                "value": "status"
                                            },
                                            {
                                                "label": "captionOutput",
                                                "value": "captionOutput"
                                            },
                                            {
                                                "label": "ctaOuput",
                                                "value": "ctaOuput"
                                            },
                                            {
                                                "label": "hastagsOutput",
                                                "value": "hastagsOutput"
                                            },
                                            {
                                                "label": "frameworkUsed",
                                                "value": "frameworkUsed"
                                            },
                                            {
                                                "label": "reviewDecision",
                                                "value": "reviewDecision"
                                            },
                                            {
                                                "label": "reviewNotes",
                                                "value": "reviewNotes"
                                            },
                                            {
                                                "label": "finalCaption",
                                                "value": "finalCaption"
                                            },
                                            {
                                                "label": "finalCTA",
                                                "value": "finalCTA"
                                            },
                                            {
                                                "label": "finalHashtags",
                                                "value": "finalHashtags"
                                            },
                                            {
                                                "label": "dmp",
                                                "value": "dmp"
                                            },
                                            {
                                                "label": "attachedDesign",
                                                "value": "attachedDesign"
                                            },
                                            {
                                                "label": "imageGenerated",
                                                "value": "imageGenerated"
                                            },
                                            {
                                                "label": "companyId",
                                                "value": "companyId"
                                            }
                                        ],
                                        "operators": [
                                            {
                                                "label": "Text",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "text:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "text:neq."
                                                    },
                                                    {
                                                        "label": "Contains (case sensitive)",
                                                        "value": "text:like."
                                                    },
                                                    {
                                                        "label": "Contains (case insensitive)",
                                                        "value": "text:ilike."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Numbers",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "number:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "number:neq."
                                                    },
                                                    {
                                                        "label": "Greater than",
                                                        "value": "number:gt."
                                                    },
                                                    {
                                                        "label": "Less than",
                                                        "value": "number:lt."
                                                    },
                                                    {
                                                        "label": "Greater than or equal to",
                                                        "value": "number:gte."
                                                    },
                                                    {
                                                        "label": "Less than or equal to",
                                                        "value": "number:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Date",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "date:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "date:neq."
                                                    },
                                                    {
                                                        "label": "Later than",
                                                        "value": "date:gt."
                                                    },
                                                    {
                                                        "label": "Earlier than",
                                                        "value": "date:lt."
                                                    },
                                                    {
                                                        "label": "Later than or equal to",
                                                        "value": "date:gte."
                                                    },
                                                    {
                                                        "label": "Earlier than or equal to",
                                                        "value": "date:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Boolean",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "boolean:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "boolean:neq."
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "My Supabase connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "search",
                        "type": "filter",
                        "label": "Search criteria",
                        "options": {
                            "logic": "and",
                            "store": [
                                {
                                    "label": "contentCalendarId",
                                    "value": "contentCalendarId"
                                },
                                {
                                    "label": "created_at",
                                    "value": "created_at"
                                },
                                {
                                    "label": "date",
                                    "value": "date"
                                },
                                {
                                    "label": "brandHighlight",
                                    "value": "brandHighlight"
                                },
                                {
                                    "label": "crossPromo",
                                    "value": "crossPromo"
                                },
                                {
                                    "label": "theme",
                                    "value": "theme"
                                },
                                {
                                    "label": "contentType",
                                    "value": "contentType"
                                },
                                {
                                    "label": "channels",
                                    "value": "channels"
                                },
                                {
                                    "label": "targetAudience",
                                    "value": "targetAudience"
                                },
                                {
                                    "label": "primaryGoal",
                                    "value": "primaryGoal"
                                },
                                {
                                    "label": "cta",
                                    "value": "cta"
                                },
                                {
                                    "label": "promoType",
                                    "value": "promoType"
                                },
                                {
                                    "label": "status",
                                    "value": "status"
                                },
                                {
                                    "label": "captionOutput",
                                    "value": "captionOutput"
                                },
                                {
                                    "label": "ctaOuput",
                                    "value": "ctaOuput"
                                },
                                {
                                    "label": "hastagsOutput",
                                    "value": "hastagsOutput"
                                },
                                {
                                    "label": "frameworkUsed",
                                    "value": "frameworkUsed"
                                },
                                {
                                    "label": "reviewDecision",
                                    "value": "reviewDecision"
                                },
                                {
                                    "label": "reviewNotes",
                                    "value": "reviewNotes"
                                },
                                {
                                    "label": "finalCaption",
                                    "value": "finalCaption"
                                },
                                {
                                    "label": "finalCTA",
                                    "value": "finalCTA"
                                },
                                {
                                    "label": "finalHashtags",
                                    "value": "finalHashtags"
                                },
                                {
                                    "label": "dmp",
                                    "value": "dmp"
                                },
                                {
                                    "label": "attachedDesign",
                                    "value": "attachedDesign"
                                },
                                {
                                    "label": "imageGenerated",
                                    "value": "imageGenerated"
                                },
                                {
                                    "label": "companyId",
                                    "value": "companyId"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:neq."
                                        },
                                        {
                                            "label": "Contains (case sensitive)",
                                            "value": "text:like."
                                        },
                                        {
                                            "label": "Contains (case insensitive)",
                                            "value": "text:ilike."
                                        }
                                    ]
                                },
                                {
                                    "label": "Numbers",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:neq."
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:gt."
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:lt."
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:gte."
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "date:neq."
                                        },
                                        {
                                            "label": "Later than",
                                            "value": "date:gt."
                                        },
                                        {
                                            "label": "Earlier than",
                                            "value": "date:lt."
                                        },
                                        {
                                            "label": "Later than or equal to",
                                            "value": "date:gte."
                                        },
                                        {
                                            "label": "Earlier than or equal to",
                                            "value": "date:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Boolean",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "boolean:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "boolean:neq."
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "contentCalendarId",
                        "type": "text",
                        "label": "contentCalendarId"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    },
                    {
                        "name": "date",
                        "type": "text",
                        "label": "date"
                    },
                    {
                        "name": "brandHighlight",
                        "type": "text",
                        "label": "brandHighlight"
                    },
                    {
                        "name": "crossPromo",
                        "type": "text",
                        "label": "crossPromo"
                    },
                    {
                        "name": "theme",
                        "type": "text",
                        "label": "theme"
                    },
                    {
                        "name": "contentType",
                        "type": "text",
                        "label": "contentType"
                    },
                    {
                        "name": "channels",
                        "type": "text",
                        "label": "channels"
                    },
                    {
                        "name": "targetAudience",
                        "type": "text",
                        "label": "targetAudience"
                    },
                    {
                        "name": "primaryGoal",
                        "type": "text",
                        "label": "primaryGoal"
                    },
                    {
                        "name": "cta",
                        "type": "text",
                        "label": "cta"
                    },
                    {
                        "name": "promoType",
                        "type": "text",
                        "label": "promoType"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "status"
                    },
                    {
                        "name": "captionOutput",
                        "type": "text",
                        "label": "captionOutput"
                    },
                    {
                        "name": "ctaOuput",
                        "type": "text",
                        "label": "ctaOuput"
                    },
                    {
                        "name": "hastagsOutput",
                        "type": "text",
                        "label": "hastagsOutput"
                    },
                    {
                        "name": "frameworkUsed",
                        "type": "text",
                        "label": "frameworkUsed"
                    },
                    {
                        "name": "reviewDecision",
                        "type": "text",
                        "label": "reviewDecision"
                    },
                    {
                        "name": "reviewNotes",
                        "type": "text",
                        "label": "reviewNotes"
                    },
                    {
                        "name": "finalCaption",
                        "type": "text",
                        "label": "finalCaption"
                    },
                    {
                        "name": "finalCTA",
                        "type": "text",
                        "label": "finalCTA"
                    },
                    {
                        "name": "finalHashtags",
                        "type": "text",
                        "label": "finalHashtags"
                    },
                    {
                        "name": "dmp",
                        "type": "text",
                        "label": "dmp"
                    },
                    {
                        "name": "attachedDesign",
                        "type": "text",
                        "label": "attachedDesign"
                    },
                    {
                        "name": "imageGenerated",
                        "type": "text",
                        "label": "imageGenerated"
                    },
                    {
                        "name": "companyId",
                        "type": "text",
                        "label": "companyId"
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "supabase:searchRows",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13605642
            },
            "mapper": {
                "limit": "1",
                "table": "brandKB",
                "search": [
                    [
                        {
                            "a": "companyId",
                            "b": "{{17.companyId}}",
                            "o": "text:eq."
                        }
                    ]
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "brandKB"
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "brandKB",
                            "nested": [
                                {
                                    "name": "search",
                                    "type": "filter",
                                    "label": "Search criteria",
                                    "options": {
                                        "logic": "and",
                                        "store": [
                                            {
                                                "label": "brandKbId",
                                                "value": "brandKbId"
                                            },
                                            {
                                                "label": "created_at",
                                                "value": "created_at"
                                            },
                                            {
                                                "label": "brandPack",
                                                "value": "brandPack"
                                            },
                                            {
                                                "label": "brandCapability",
                                                "value": "brandCapability"
                                            },
                                            {
                                                "label": "writerAgent",
                                                "value": "writerAgent"
                                            },
                                            {
                                                "label": "emojiRule",
                                                "value": "emojiRule"
                                            },
                                            {
                                                "label": "companyId",
                                                "value": "companyId"
                                            },
                                            {
                                                "label": "reviewPrompt1",
                                                "value": "reviewPrompt1"
                                            }
                                        ],
                                        "operators": [
                                            {
                                                "label": "Text",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "text:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "text:neq."
                                                    },
                                                    {
                                                        "label": "Contains (case sensitive)",
                                                        "value": "text:like."
                                                    },
                                                    {
                                                        "label": "Contains (case insensitive)",
                                                        "value": "text:ilike."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Numbers",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "number:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "number:neq."
                                                    },
                                                    {
                                                        "label": "Greater than",
                                                        "value": "number:gt."
                                                    },
                                                    {
                                                        "label": "Less than",
                                                        "value": "number:lt."
                                                    },
                                                    {
                                                        "label": "Greater than or equal to",
                                                        "value": "number:gte."
                                                    },
                                                    {
                                                        "label": "Less than or equal to",
                                                        "value": "number:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Date",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "date:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "date:neq."
                                                    },
                                                    {
                                                        "label": "Later than",
                                                        "value": "date:gt."
                                                    },
                                                    {
                                                        "label": "Earlier than",
                                                        "value": "date:lt."
                                                    },
                                                    {
                                                        "label": "Later than or equal to",
                                                        "value": "date:gte."
                                                    },
                                                    {
                                                        "label": "Earlier than or equal to",
                                                        "value": "date:lte."
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Boolean",
                                                "options": [
                                                    {
                                                        "label": "Equals",
                                                        "value": "boolean:eq."
                                                    },
                                                    {
                                                        "label": "Does not equal",
                                                        "value": "boolean:neq."
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "My Supabase connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "search",
                        "type": "filter",
                        "label": "Search criteria",
                        "options": {
                            "logic": "and",
                            "store": [
                                {
                                    "label": "brandKbId",
                                    "value": "brandKbId"
                                },
                                {
                                    "label": "created_at",
                                    "value": "created_at"
                                },
                                {
                                    "label": "brandPack",
                                    "value": "brandPack"
                                },
                                {
                                    "label": "brandCapability",
                                    "value": "brandCapability"
                                },
                                {
                                    "label": "writerAgent",
                                    "value": "writerAgent"
                                },
                                {
                                    "label": "emojiRule",
                                    "value": "emojiRule"
                                },
                                {
                                    "label": "companyId",
                                    "value": "companyId"
                                },
                                {
                                    "label": "reviewPrompt1",
                                    "value": "reviewPrompt1"
                                }
                            ],
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:neq."
                                        },
                                        {
                                            "label": "Contains (case sensitive)",
                                            "value": "text:like."
                                        },
                                        {
                                            "label": "Contains (case insensitive)",
                                            "value": "text:ilike."
                                        }
                                    ]
                                },
                                {
                                    "label": "Numbers",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:neq."
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:gt."
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:lt."
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:gte."
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "date:neq."
                                        },
                                        {
                                            "label": "Later than",
                                            "value": "date:gt."
                                        },
                                        {
                                            "label": "Earlier than",
                                            "value": "date:lt."
                                        },
                                        {
                                            "label": "Later than or equal to",
                                            "value": "date:gte."
                                        },
                                        {
                                            "label": "Earlier than or equal to",
                                            "value": "date:lte."
                                        }
                                    ]
                                },
                                {
                                    "label": "Boolean",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "boolean:eq."
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "boolean:neq."
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "brandKbId",
                        "type": "text",
                        "label": "brandKbId"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    },
                    {
                        "name": "brandPack",
                        "type": "text",
                        "label": "brandPack"
                    },
                    {
                        "name": "brandCapability",
                        "type": "text",
                        "label": "brandCapability"
                    },
                    {
                        "name": "writerAgent",
                        "type": "text",
                        "label": "writerAgent"
                    },
                    {
                        "name": "emojiRule",
                        "type": "text",
                        "label": "emojiRule"
                    },
                    {
                        "name": "companyId",
                        "type": "text",
                        "label": "companyId"
                    },
                    {
                        "name": "reviewPrompt1",
                        "type": "text",
                        "label": "reviewPrompt1"
                    },
                    {
                        "name": "imageSystemPrompt",
                        "type": "text",
                        "label": "imageSystemPrompt"
                    },
                    {
                        "name": "imageUserText",
                        "type": "text",
                        "label": "imageUserText"
                    },
                    {
                        "name": "systemInstruction",
                        "type": "text",
                        "label": "systemInstruction"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13417353
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "{{20.reviewPrompt1}}"
                    },
                    {
                        "role": "user",
                        "content": "You are reviewing content\n\nInputs\n\nDraft Caption:{{19.captionOutput}}\n\nDraft CTA:{{19.ctaOuput}}\n\nDraft Hashtags:{{19.finalHashtags}}\n\nChannel:{{19.channels}}\n\nPrimary Goal:{{19.primaryGoal}}\n\nBrand Pack:{{20.brandPack}}\n\nCapability Map:{{20.brandCapability}}\n\nInstructions\n\nReview the draft for brand alignment, clarity, and compliance\n\nSimplify language where needed\n\nRemove or replace any forbidden words or risky claims\n\nEnsure tone matches the channel and audience\n\nFix the content directly if possible\n\nOnly mark NEEDS REVISION if the content cannot be safely corrected.\n\nFinal Output Requirement\n\nOutput must follow this structure exactly:\n\nDECISION: <APPROVED or NEEDS REVISION>\nNOTES:\n\n<bullet>\n<bullet>\n\nFINAL CAPTION:\n\n<caption>\n\nFINAL CTA:\n<cta>\n\nFINAL HASHTAGS:\n<hashtags>\n\nDo not include anything else.",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)Fast, affordable small model for focused tasks"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "default": true
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "DECISION:\\s*(.*)",
                "multiline": false,
                "sensitive": false,
                "singleline": false,
                "continueWhenNoRes": false
            },
            "mapper": {
                "text": "{{5.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "NOTES:\\s*([\\s\\S]*?)\\n\\s*FINAL CAPTION:",
                "multiline": false,
                "sensitive": false,
                "singleline": true,
                "continueWhenNoRes": false
            },
            "mapper": {
                "text": "{{5.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "FINAL CAPTION:\\s*([\\s\\S]*?)\\n\\s*FINAL CTA:",
                "multiline": false,
                "sensitive": false,
                "singleline": true,
                "continueWhenNoRes": false
            },
            "mapper": {
                "text": "{{5.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "FINAL CTA:\\s*([\\s\\S]*?)\\n\\s*FINAL HASHTAGS:",
                "multiline": false,
                "sensitive": false,
                "singleline": true,
                "continueWhenNoRes": false
            },
            "mapper": {
                "text": "{{5.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "regexp:Parser",
            "version": 1,
            "parameters": {
                "global": false,
                "pattern": "FINAL HASHTAGS:\\s*([\\s\\S]*)",
                "multiline": false,
                "sensitive": false,
                "singleline": true,
                "continueWhenNoRes": false
            },
            "mapper": {
                "text": "{{5.choices[].message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "pattern",
                        "type": "text",
                        "label": "Pattern",
                        "required": true
                    },
                    {
                        "name": "global",
                        "type": "boolean",
                        "label": "Global match",
                        "required": true
                    },
                    {
                        "name": "sensitive",
                        "type": "boolean",
                        "label": "Case sensitive",
                        "required": true
                    },
                    {
                        "name": "multiline",
                        "type": "boolean",
                        "label": "Multiline",
                        "required": true
                    },
                    {
                        "name": "singleline",
                        "type": "boolean",
                        "label": "Singleline",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "interface": [
                    {
                        "name": "$1",
                        "type": "text",
                        "label": "$1"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2700,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 22,
                            "module": "supabase:upsertARecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 13605642
                            },
                            "mapper": {
                                "table": "contentCalendar",
                                "status": "Approved",
                                "finalCTA": "{{9.`$1`}}",
                                "companyId": "{{19.companyId}}",
                                "reviewNotes": "{{7.`$1`}}",
                                "finalCaption": "{{8.`$1`}}",
                                "finalHashtags": "{{10.`$1`}}",
                                "reviewDecision": "{{6.`$1`}}",
                                "contentCalendarId": "{{19.contentCalendarId}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 300,
                                    "name": "Accepted"
                                },
                                "restore": {
                                    "expect": {
                                        "table": {
                                            "mode": "chose",
                                            "label": "contentCalendar",
                                            "nested": [
                                                {
                                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                                    "name": "contentCalendarId",
                                                    "type": "text",
                                                    "label": "contentCalendarId",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to now(). ",
                                                    "name": "created_at",
                                                    "type": "text",
                                                    "label": "created_at",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "date",
                                                    "type": "text",
                                                    "label": "date",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "brandHighlight",
                                                    "type": "text",
                                                    "label": "brandHighlight",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "crossPromo",
                                                    "type": "text",
                                                    "label": "crossPromo",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "theme",
                                                    "type": "text",
                                                    "label": "theme",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "contentType",
                                                    "type": "text",
                                                    "label": "contentType",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "channels",
                                                    "type": "text",
                                                    "label": "channels",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "targetAudience",
                                                    "type": "text",
                                                    "label": "targetAudience",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "primaryGoal",
                                                    "type": "text",
                                                    "label": "primaryGoal",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "cta",
                                                    "type": "text",
                                                    "label": "cta",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "promoType",
                                                    "type": "text",
                                                    "label": "promoType",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "status",
                                                    "type": "text",
                                                    "label": "status",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "captionOutput",
                                                    "type": "text",
                                                    "label": "captionOutput",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "ctaOuput",
                                                    "type": "text",
                                                    "label": "ctaOuput",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "hastagsOutput",
                                                    "type": "text",
                                                    "label": "hastagsOutput",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "frameworkUsed",
                                                    "type": "text",
                                                    "label": "frameworkUsed",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "reviewDecision",
                                                    "type": "text",
                                                    "label": "reviewDecision",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "reviewNotes",
                                                    "type": "text",
                                                    "label": "reviewNotes",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "finalCaption",
                                                    "type": "text",
                                                    "label": "finalCaption",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "finalCTA",
                                                    "type": "text",
                                                    "label": "finalCTA",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "finalHashtags",
                                                    "type": "text",
                                                    "label": "finalHashtags",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "dmp",
                                                    "type": "text",
                                                    "label": "dmp",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "attachedDesign",
                                                    "type": "text",
                                                    "label": "attachedDesign",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "",
                                                    "name": "imageGenerated",
                                                    "type": "text",
                                                    "label": "imageGenerated",
                                                    "options": null,
                                                    "required": false
                                                },
                                                {
                                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Foreign Key to `company.companyId`.<fk table='company' column='companyId'/>",
                                                    "name": "companyId",
                                                    "type": "text",
                                                    "label": "companyId",
                                                    "options": null,
                                                    "required": false
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "supabase"
                                            },
                                            "label": "My Supabase connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:supabase",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "contentCalendarId",
                                        "type": "text"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text"
                                    },
                                    {
                                        "name": "date",
                                        "type": "text"
                                    },
                                    {
                                        "name": "brandHighlight",
                                        "type": "text"
                                    },
                                    {
                                        "name": "crossPromo",
                                        "type": "text"
                                    },
                                    {
                                        "name": "theme",
                                        "type": "text"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "text"
                                    },
                                    {
                                        "name": "channels",
                                        "type": "text"
                                    },
                                    {
                                        "name": "targetAudience",
                                        "type": "text"
                                    },
                                    {
                                        "name": "primaryGoal",
                                        "type": "text"
                                    },
                                    {
                                        "name": "cta",
                                        "type": "text"
                                    },
                                    {
                                        "name": "promoType",
                                        "type": "text"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text"
                                    },
                                    {
                                        "name": "captionOutput",
                                        "type": "text"
                                    },
                                    {
                                        "name": "ctaOuput",
                                        "type": "text"
                                    },
                                    {
                                        "name": "hastagsOutput",
                                        "type": "text"
                                    },
                                    {
                                        "name": "frameworkUsed",
                                        "type": "text"
                                    },
                                    {
                                        "name": "reviewDecision",
                                        "type": "text"
                                    },
                                    {
                                        "name": "reviewNotes",
                                        "type": "text"
                                    },
                                    {
                                        "name": "finalCaption",
                                        "type": "text"
                                    },
                                    {
                                        "name": "finalCTA",
                                        "type": "text"
                                    },
                                    {
                                        "name": "finalHashtags",
                                        "type": "text"
                                    },
                                    {
                                        "name": "dmp",
                                        "type": "text"
                                    },
                                    {
                                        "name": "attachedDesign",
                                        "type": "text"
                                    },
                                    {
                                        "name": "imageGenerated",
                                        "type": "text"
                                    },
                                    {
                                        "name": "companyId",
                                        "type": "text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "contentCalendarId",
                                        "type": "text",
                                        "label": "contentCalendarId"
                                    },
                                    {
                                        "name": "created_at",
                                        "type": "text",
                                        "label": "created_at"
                                    },
                                    {
                                        "name": "date",
                                        "type": "text",
                                        "label": "date"
                                    },
                                    {
                                        "name": "brandHighlight",
                                        "type": "text",
                                        "label": "brandHighlight"
                                    },
                                    {
                                        "name": "crossPromo",
                                        "type": "text",
                                        "label": "crossPromo"
                                    },
                                    {
                                        "name": "theme",
                                        "type": "text",
                                        "label": "theme"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "text",
                                        "label": "contentType"
                                    },
                                    {
                                        "name": "channels",
                                        "type": "text",
                                        "label": "channels"
                                    },
                                    {
                                        "name": "targetAudience",
                                        "type": "text",
                                        "label": "targetAudience"
                                    },
                                    {
                                        "name": "primaryGoal",
                                        "type": "text",
                                        "label": "primaryGoal"
                                    },
                                    {
                                        "name": "cta",
                                        "type": "text",
                                        "label": "cta"
                                    },
                                    {
                                        "name": "promoType",
                                        "type": "text",
                                        "label": "promoType"
                                    },
                                    {
                                        "name": "status",
                                        "type": "text",
                                        "label": "status"
                                    },
                                    {
                                        "name": "captionOutput",
                                        "type": "text",
                                        "label": "captionOutput"
                                    },
                                    {
                                        "name": "ctaOuput",
                                        "type": "text",
                                        "label": "ctaOuput"
                                    },
                                    {
                                        "name": "hastagsOutput",
                                        "type": "text",
                                        "label": "hastagsOutput"
                                    },
                                    {
                                        "name": "frameworkUsed",
                                        "type": "text",
                                        "label": "frameworkUsed"
                                    },
                                    {
                                        "name": "reviewDecision",
                                        "type": "text",
                                        "label": "reviewDecision"
                                    },
                                    {
                                        "name": "reviewNotes",
                                        "type": "text",
                                        "label": "reviewNotes"
                                    },
                                    {
                                        "name": "finalCaption",
                                        "type": "text",
                                        "label": "finalCaption"
                                    },
                                    {
                                        "name": "finalCTA",
                                        "type": "text",
                                        "label": "finalCTA"
                                    },
                                    {
                                        "name": "finalHashtags",
                                        "type": "text",
                                        "label": "finalHashtags"
                                    },
                                    {
                                        "name": "dmp",
                                        "type": "text",
                                        "label": "dmp"
                                    },
                                    {
                                        "name": "attachedDesign",
                                        "type": "text",
                                        "label": "attachedDesign"
                                    },
                                    {
                                        "name": "imageGenerated",
                                        "type": "text",
                                        "label": "imageGenerated"
                                    },
                                    {
                                        "name": "companyId",
                                        "type": "text",
                                        "label": "companyId"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 21,
                        "module": "supabase:upsertARecord",
                        "version": 1,
                        "parameters": {
                            "__IMTCONN__": 13605642
                        },
                        "filter": {
                            "name": "",
                            "conditions": [
                                [
                                    {
                                        "a": "{{6.`$1`}}",
                                        "b": "NEEDS REVISION",
                                        "o": "text:contain"
                                    }
                                ]
                            ]
                        },
                        "mapper": {
                            "table": "contentCalendar",
                            "status": "Needs Revision",
                            "finalCTA": "{{9.`$1`}}",
                            "companyId": "{{19.companyId}}",
                            "reviewNotes": "{{7.`$1`}}",
                            "finalCaption": "{{8.`$1`}}",
                            "finalHashtags": "{{10.`$1`}}",
                            "reviewDecision": "{{6.`$1`}}",
                            "contentCalendarId": "{{19.contentCalendarId}}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 3000,
                                "y": 0,
                                "name": "Rejected",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Text parser - Match pattern' [6] is not accessible."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Text parser - Match pattern' [7] is not accessible."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Text parser - Match pattern' [8] is not accessible."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Text parser - Match pattern' [9] is not accessible."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Text parser - Match pattern' [10] is not accessible."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Supabase - Search Rows' [19] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "table": {
                                        "mode": "chose",
                                        "label": "contentCalendar",
                                        "nested": [
                                            {
                                                "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                                "name": "contentCalendarId",
                                                "type": "text",
                                                "label": "contentCalendarId",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Defaults to now(). ",
                                                "name": "created_at",
                                                "type": "text",
                                                "label": "created_at",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "date",
                                                "type": "text",
                                                "label": "date",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "brandHighlight",
                                                "type": "text",
                                                "label": "brandHighlight",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "crossPromo",
                                                "type": "text",
                                                "label": "crossPromo",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "theme",
                                                "type": "text",
                                                "label": "theme",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "contentType",
                                                "type": "text",
                                                "label": "contentType",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "channels",
                                                "type": "text",
                                                "label": "channels",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "targetAudience",
                                                "type": "text",
                                                "label": "targetAudience",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "primaryGoal",
                                                "type": "text",
                                                "label": "primaryGoal",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "cta",
                                                "type": "text",
                                                "label": "cta",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "promoType",
                                                "type": "text",
                                                "label": "promoType",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "status",
                                                "type": "text",
                                                "label": "status",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "captionOutput",
                                                "type": "text",
                                                "label": "captionOutput",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "ctaOuput",
                                                "type": "text",
                                                "label": "ctaOuput",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "hastagsOutput",
                                                "type": "text",
                                                "label": "hastagsOutput",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "frameworkUsed",
                                                "type": "text",
                                                "label": "frameworkUsed",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "reviewDecision",
                                                "type": "text",
                                                "label": "reviewDecision",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "reviewNotes",
                                                "type": "text",
                                                "label": "reviewNotes",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "finalCaption",
                                                "type": "text",
                                                "label": "finalCaption",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "finalCTA",
                                                "type": "text",
                                                "label": "finalCTA",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "finalHashtags",
                                                "type": "text",
                                                "label": "finalHashtags",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "dmp",
                                                "type": "text",
                                                "label": "dmp",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "attachedDesign",
                                                "type": "text",
                                                "label": "attachedDesign",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "",
                                                "name": "imageGenerated",
                                                "type": "text",
                                                "label": "imageGenerated",
                                                "options": null,
                                                "required": false
                                            },
                                            {
                                                "help": "Defaults to gen_random_uuid(). Note:\nThis is a Foreign Key to `company.companyId`.<fk table='company' column='companyId'/>",
                                                "name": "companyId",
                                                "type": "text",
                                                "label": "companyId",
                                                "options": null,
                                                "required": false
                                            }
                                        ]
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "supabase"
                                        },
                                        "label": "My Supabase connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:supabase",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "table",
                                    "type": "select",
                                    "label": "Table",
                                    "required": true
                                },
                                {
                                    "name": "contentCalendarId",
                                    "type": "text"
                                },
                                {
                                    "name": "created_at",
                                    "type": "text"
                                },
                                {
                                    "name": "date",
                                    "type": "text"
                                },
                                {
                                    "name": "brandHighlight",
                                    "type": "text"
                                },
                                {
                                    "name": "crossPromo",
                                    "type": "text"
                                },
                                {
                                    "name": "theme",
                                    "type": "text"
                                },
                                {
                                    "name": "contentType",
                                    "type": "text"
                                },
                                {
                                    "name": "channels",
                                    "type": "text"
                                },
                                {
                                    "name": "targetAudience",
                                    "type": "text"
                                },
                                {
                                    "name": "primaryGoal",
                                    "type": "text"
                                },
                                {
                                    "name": "cta",
                                    "type": "text"
                                },
                                {
                                    "name": "promoType",
                                    "type": "text"
                                },
                                {
                                    "name": "status",
                                    "type": "text"
                                },
                                {
                                    "name": "captionOutput",
                                    "type": "text"
                                },
                                {
                                    "name": "ctaOuput",
                                    "type": "text"
                                },
                                {
                                    "name": "hastagsOutput",
                                    "type": "text"
                                },
                                {
                                    "name": "frameworkUsed",
                                    "type": "text"
                                },
                                {
                                    "name": "reviewDecision",
                                    "type": "text"
                                },
                                {
                                    "name": "reviewNotes",
                                    "type": "text"
                                },
                                {
                                    "name": "finalCaption",
                                    "type": "text"
                                },
                                {
                                    "name": "finalCTA",
                                    "type": "text"
                                },
                                {
                                    "name": "finalHashtags",
                                    "type": "text"
                                },
                                {
                                    "name": "dmp",
                                    "type": "text"
                                },
                                {
                                    "name": "attachedDesign",
                                    "type": "text"
                                },
                                {
                                    "name": "imageGenerated",
                                    "type": "text"
                                },
                                {
                                    "name": "companyId",
                                    "type": "text"
                                }
                            ],
                            "interface": [
                                {
                                    "name": "contentCalendarId",
                                    "type": "text",
                                    "label": "contentCalendarId"
                                },
                                {
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at"
                                },
                                {
                                    "name": "date",
                                    "type": "text",
                                    "label": "date"
                                },
                                {
                                    "name": "brandHighlight",
                                    "type": "text",
                                    "label": "brandHighlight"
                                },
                                {
                                    "name": "crossPromo",
                                    "type": "text",
                                    "label": "crossPromo"
                                },
                                {
                                    "name": "theme",
                                    "type": "text",
                                    "label": "theme"
                                },
                                {
                                    "name": "contentType",
                                    "type": "text",
                                    "label": "contentType"
                                },
                                {
                                    "name": "channels",
                                    "type": "text",
                                    "label": "channels"
                                },
                                {
                                    "name": "targetAudience",
                                    "type": "text",
                                    "label": "targetAudience"
                                },
                                {
                                    "name": "primaryGoal",
                                    "type": "text",
                                    "label": "primaryGoal"
                                },
                                {
                                    "name": "cta",
                                    "type": "text",
                                    "label": "cta"
                                },
                                {
                                    "name": "promoType",
                                    "type": "text",
                                    "label": "promoType"
                                },
                                {
                                    "name": "status",
                                    "type": "text",
                                    "label": "status"
                                },
                                {
                                    "name": "captionOutput",
                                    "type": "text",
                                    "label": "captionOutput"
                                },
                                {
                                    "name": "ctaOuput",
                                    "type": "text",
                                    "label": "ctaOuput"
                                },
                                {
                                    "name": "hastagsOutput",
                                    "type": "text",
                                    "label": "hastagsOutput"
                                },
                                {
                                    "name": "frameworkUsed",
                                    "type": "text",
                                    "label": "frameworkUsed"
                                },
                                {
                                    "name": "reviewDecision",
                                    "type": "text",
                                    "label": "reviewDecision"
                                },
                                {
                                    "name": "reviewNotes",
                                    "type": "text",
                                    "label": "reviewNotes"
                                },
                                {
                                    "name": "finalCaption",
                                    "type": "text",
                                    "label": "finalCaption"
                                },
                                {
                                    "name": "finalCTA",
                                    "type": "text",
                                    "label": "finalCTA"
                                },
                                {
                                    "name": "finalHashtags",
                                    "type": "text",
                                    "label": "finalHashtags"
                                },
                                {
                                    "name": "dmp",
                                    "type": "text",
                                    "label": "dmp"
                                },
                                {
                                    "name": "attachedDesign",
                                    "type": "text",
                                    "label": "attachedDesign"
                                },
                                {
                                    "name": "imageGenerated",
                                    "type": "text",
                                    "label": "imageGenerated"
                                },
                                {
                                    "name": "companyId",
                                    "type": "text",
                                    "label": "companyId"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}