customImageGenerator.txt
{
    "name": "STARTUPLAB Custom Gemini image generator ",
    "flow": [
        {
            "id": 18,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3829536,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Custom DMP Image Generation"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "gemini-ai:createAnImage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13422938
            },
            "mapper": {
                "model": "imagen-4.0-ultra-generate-001",
                "prompt": "{{18.dmp}}",
                "aspectRatio": "1:1",
                "personGeneration": "ALLOW_ADULT"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Imagen 4 Ultra"
                        },
                        "aspectRatio": {
                            "mode": "chose",
                            "label": "1:1"
                        },
                        "personGeneration": {
                            "mode": "chose",
                            "label": "Allow Adults"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "My Gemini AI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Image Prompt",
                        "required": true
                    },
                    {
                        "name": "personGeneration",
                        "type": "select",
                        "label": "Person Generation Rules",
                        "validate": {
                            "enum": [
                                "ALLOW_ADULT",
                                "DONT_ALLOW"
                            ]
                        }
                    },
                    {
                        "name": "aspectRatio",
                        "type": "select",
                        "label": "Aspect Ratio",
                        "validate": {
                            "enum": [
                                "1:1",
                                "3:4",
                                "4:3",
                                "9:16",
                                "16:9"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "supabase:uploadAFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13605642
            },
            "mapper": {
                "upsert": true,
                "bucketID": "generated-images",
                "file_data": "{{15.data}}",
                "file_name": "{{18.companyId}}/{{18.contentCalendarId}}/{{15.fileName}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "upsert": {
                            "mode": "chose"
                        },
                        "bucketID": {
                            "mode": "chose",
                            "label": "generated-images"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "My Supabase connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "bucketID",
                        "type": "select",
                        "label": "Bucket ID",
                        "required": true
                    },
                    {
                        "name": "file_name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "file_data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "upsert",
                        "type": "boolean",
                        "label": "Upsert"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 17,
            "module": "supabase:upsertARecord",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13605642
            },
            "mapper": {
                "table": "contentCalendar",
                "imageGenerated": "{{16.Key}}",
                "contentCalendarId": "{{18.contentCalendarId}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "contentCalendar",
                            "nested": [
                                {
                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                    "name": "contentCalendarId",
                                    "type": "text",
                                    "label": "contentCalendarId",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to now(). ",
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "date",
                                    "type": "text",
                                    "label": "date",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "brandHighlight",
                                    "type": "text",
                                    "label": "brandHighlight",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "crossPromo",
                                    "type": "text",
                                    "label": "crossPromo",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "theme",
                                    "type": "text",
                                    "label": "theme",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "contentType",
                                    "type": "text",
                                    "label": "contentType",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "channels",
                                    "type": "text",
                                    "label": "channels",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "targetAudience",
                                    "type": "text",
                                    "label": "targetAudience",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "primaryGoal",
                                    "type": "text",
                                    "label": "primaryGoal",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "cta",
                                    "type": "text",
                                    "label": "cta",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "promoType",
                                    "type": "text",
                                    "label": "promoType",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "status",
                                    "type": "text",
                                    "label": "status",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "captionOutput",
                                    "type": "text",
                                    "label": "captionOutput",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "ctaOuput",
                                    "type": "text",
                                    "label": "ctaOuput",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "hastagsOutput",
                                    "type": "text",
                                    "label": "hastagsOutput",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "frameworkUsed",
                                    "type": "text",
                                    "label": "frameworkUsed",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "reviewDecision",
                                    "type": "text",
                                    "label": "reviewDecision",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "reviewNotes",
                                    "type": "text",
                                    "label": "reviewNotes",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "finalCaption",
                                    "type": "text",
                                    "label": "finalCaption",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "finalCTA",
                                    "type": "text",
                                    "label": "finalCTA",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "finalHashtags",
                                    "type": "text",
                                    "label": "finalHashtags",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "dmp",
                                    "type": "text",
                                    "label": "dmp",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "attachedDesign",
                                    "type": "text",
                                    "label": "attachedDesign",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "imageGenerated",
                                    "type": "text",
                                    "label": "imageGenerated",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Foreign Key to `company.companyId`.<fk table='company' column='companyId'/>",
                                    "name": "companyId",
                                    "type": "text",
                                    "label": "companyId",
                                    "options": null,
                                    "required": false
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "My Supabase connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "contentCalendarId",
                        "type": "text"
                    },
                    {
                        "name": "created_at",
                        "type": "text"
                    },
                    {
                        "name": "date",
                        "type": "text"
                    },
                    {
                        "name": "brandHighlight",
                        "type": "text"
                    },
                    {
                        "name": "crossPromo",
                        "type": "text"
                    },
                    {
                        "name": "theme",
                        "type": "text"
                    },
                    {
                        "name": "contentType",
                        "type": "text"
                    },
                    {
                        "name": "channels",
                        "type": "text"
                    },
                    {
                        "name": "targetAudience",
                        "type": "text"
                    },
                    {
                        "name": "primaryGoal",
                        "type": "text"
                    },
                    {
                        "name": "cta",
                        "type": "text"
                    },
                    {
                        "name": "promoType",
                        "type": "text"
                    },
                    {
                        "name": "status",
                        "type": "text"
                    },
                    {
                        "name": "captionOutput",
                        "type": "text"
                    },
                    {
                        "name": "ctaOuput",
                        "type": "text"
                    },
                    {
                        "name": "hastagsOutput",
                        "type": "text"
                    },
                    {
                        "name": "frameworkUsed",
                        "type": "text"
                    },
                    {
                        "name": "reviewDecision",
                        "type": "text"
                    },
                    {
                        "name": "reviewNotes",
                        "type": "text"
                    },
                    {
                        "name": "finalCaption",
                        "type": "text"
                    },
                    {
                        "name": "finalCTA",
                        "type": "text"
                    },
                    {
                        "name": "finalHashtags",
                        "type": "text"
                    },
                    {
                        "name": "dmp",
                        "type": "text"
                    },
                    {
                        "name": "attachedDesign",
                        "type": "text"
                    },
                    {
                        "name": "imageGenerated",
                        "type": "text"
                    },
                    {
                        "name": "companyId",
                        "type": "text"
                    }
                ],
                "interface": [
                    {
                        "name": "contentCalendarId",
                        "type": "text",
                        "label": "contentCalendarId"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    },
                    {
                        "name": "date",
                        "type": "text",
                        "label": "date"
                    },
                    {
                        "name": "brandHighlight",
                        "type": "text",
                        "label": "brandHighlight"
                    },
                    {
                        "name": "crossPromo",
                        "type": "text",
                        "label": "crossPromo"
                    },
                    {
                        "name": "theme",
                        "type": "text",
                        "label": "theme"
                    },
                    {
                        "name": "contentType",
                        "type": "text",
                        "label": "contentType"
                    },
                    {
                        "name": "channels",
                        "type": "text",
                        "label": "channels"
                    },
                    {
                        "name": "targetAudience",
                        "type": "text",
                        "label": "targetAudience"
                    },
                    {
                        "name": "primaryGoal",
                        "type": "text",
                        "label": "primaryGoal"
                    },
                    {
                        "name": "cta",
                        "type": "text",
                        "label": "cta"
                    },
                    {
                        "name": "promoType",
                        "type": "text",
                        "label": "promoType"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "status"
                    },
                    {
                        "name": "captionOutput",
                        "type": "text",
                        "label": "captionOutput"
                    },
                    {
                        "name": "ctaOuput",
                        "type": "text",
                        "label": "ctaOuput"
                    },
                    {
                        "name": "hastagsOutput",
                        "type": "text",
                        "label": "hastagsOutput"
                    },
                    {
                        "name": "frameworkUsed",
                        "type": "text",
                        "label": "frameworkUsed"
                    },
                    {
                        "name": "reviewDecision",
                        "type": "text",
                        "label": "reviewDecision"
                    },
                    {
                        "name": "reviewNotes",
                        "type": "text",
                        "label": "reviewNotes"
                    },
                    {
                        "name": "finalCaption",
                        "type": "text",
                        "label": "finalCaption"
                    },
                    {
                        "name": "finalCTA",
                        "type": "text",
                        "label": "finalCTA"
                    },
                    {
                        "name": "finalHashtags",
                        "type": "text",
                        "label": "finalHashtags"
                    },
                    {
                        "name": "dmp",
                        "type": "text",
                        "label": "dmp"
                    },
                    {
                        "name": "attachedDesign",
                        "type": "text",
                        "label": "attachedDesign"
                    },
                    {
                        "name": "imageGenerated",
                        "type": "text",
                        "label": "imageGenerated"
                    },
                    {
                        "name": "companyId",
                        "type": "text",
                        "label": "companyId"
                    }
                ]
            }
        },
        {
            "id": 19,
            "module": "discord:createMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 13597224
            },
            "mapper": {
                "files": [
                    {
                        "data": "{{15.data}}",
                        "filename": "{{15.fileName}}"
                    }
                ],
                "select": "channel",
                "content": "{{15.fileName}}",
                "channelId": "1465631839182913671",
                "message_reference": {}
            },
            "metadata": {
                "designer": {
                    "x": 1211,
                    "y": 24
                },
                "restore": {
                    "expect": {
                        "tts": {
                            "mode": "chose"
                        },
                        "files": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "embeds": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Send a Message to a Channel"
                        },
                        "channelId": {
                            "mode": "chose",
                            "label": "content-generator-images"
                        },
                        "components": {
                            "mode": "chose"
                        },
                        "sticker_ids": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            },
                            "label": "My Discord connection (Make (team1278341651986911253))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "channel",
                                "thread",
                                "user"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "tts",
                        "type": "boolean",
                        "label": "Is TTS message"
                    },
                    {
                        "name": "embeds",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": "Timestamp"
                            },
                            {
                                "name": "color",
                                "type": "uinteger",
                                "label": "Color"
                            },
                            {
                                "name": "footer",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Footer"
                            },
                            {
                                "name": "image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Image"
                            },
                            {
                                "name": "thumbnail",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnail"
                            },
                            {
                                "name": "video",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Video"
                            },
                            {
                                "name": "provider",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Provider"
                            },
                            {
                                "name": "author",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Author"
                            },
                            {
                                "name": "fields",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "inline",
                                        "type": "boolean",
                                        "label": "Inline Flag"
                                    }
                                ],
                                "type": "array",
                                "label": "Fields"
                            }
                        ],
                        "type": "array",
                        "label": "Embeds"
                    },
                    {
                        "name": "sticker_ids",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Sticker ID",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Stickers"
                    },
                    {
                        "name": "components",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Component Type",
                                "options": [
                                    {
                                        "label": "A New Row",
                                        "value": 1,
                                        "nested": [
                                            {
                                                "name": "components",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Row Component Type",
                                                        "options": [
                                                            {
                                                                "label": "Button",
                                                                "value": 2,
                                                                "nested": [
                                                                    {
                                                                        "name": "style",
                                                                        "type": "select",
                                                                        "label": "Style",
                                                                        "options": [
                                                                            {
                                                                                "label": "Primary (blurple)",
                                                                                "value": 1,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Secondary (grey)",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Success (green)",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Danger (red)",
                                                                                "value": 4,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Link (grey)",
                                                                                "value": 5,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A URL for link-style buttons.",
                                                                                        "name": "url",
                                                                                        "type": "url",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                        "name": "label",
                                                                        "type": "text",
                                                                        "label": "Label"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Select Menu",
                                                                "value": 3,
                                                                "nested": [
                                                                    {
                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                        "name": "custom_id",
                                                                        "type": "text",
                                                                        "label": "Custom ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "options",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                "name": "description",
                                                                                "type": "text",
                                                                                "label": "Description"
                                                                            },
                                                                            {
                                                                                "name": "default",
                                                                                "type": "boolean",
                                                                                "label": "Default"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Options",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 25
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                        "name": "placeholder",
                                                                        "type": "text",
                                                                        "label": "Placeholder"
                                                                    },
                                                                    {
                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                        "name": "min_values",
                                                                        "type": "uinteger",
                                                                        "label": "Minimum values"
                                                                    },
                                                                    {
                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                        "name": "max_values",
                                                                        "type": "uinteger",
                                                                        "label": "Maximum values"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Row Components",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Components"
                    },
                    {
                        "name": "files",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Files"
                    },
                    {
                        "name": "message_reference",
                        "spec": [
                            {
                                "name": "message_id",
                                "type": "text",
                                "label": "Message ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Message Reference"
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}