imageGenerator.txt
{
    "name": "STARTUPLAB Gemini image generator",
    "flow": [
        {
            "id": 7,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3826967,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "Generate MegaPrompt webhook"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Image Generation Webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13417353
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "system",
                        "content": "You are an expert prompt engineer specializing in text-to-image generation for Gemini.\n\nYour task is to generate ONE (1) production-ready IMAGE MEGAPROMPT that will be sent directly to Gemini for image generation.\n\nYou MUST strictly follow the provided brand system instruction. The brand system instruction defines the visual identity, tone, and design boundaries and OVERRIDES all other creative decisions.\n\n---\n\nBRAND SYSTEM INSTRUCTION (MANDATORY):\n{{7.systemInstruction}}\n\nDo not introduce visual styles, colors, typography, layouts, moods, or imagery that are not aligned with or implied by the brand system instruction.\n\n---\n\nOBJECTIVE:\nCreate a visually clear, on-brand social media image concept that:\n- Prioritizes the Brand Highlight as the dominant visual message\n- Supports Cross Promotion as a secondary element without competing for attention\n- Is optimized for social media feeds and small-screen readability\n- Fully aligns with the provided brand system instruction\n\n---\n\nOUTPUT FORMAT (STRICT — FOLLOW EXACTLY):\n\nMEGAPROMPT:\n<Write ONE cohesive paragraph describing the image to be generated. \nInclude visual style, composition, layout hierarchy, color treatment, subject matter, mood, and brand alignment.\nDescribe how text, imagery, and CTA are visually organized without inventing copy unless necessary.>\n\nNEGATIVE:\n<Write ONE cohesive paragraph listing what the image must avoid, including off-brand styles, conflicting tones, cluttered layouts, poor readability, unrealistic visuals, decorative fonts, experimental art styles, or anything that violates the brand system instruction.>\n\n---\n\nHARD RULES:\n- Output ONLY the MEGAPROMPT and NEGATIVE sections.\n- Do NOT include explanations, bullet points, headings, markdown, or commentary.\n- Do NOT generate multiple concepts or variations.\n- Do NOT invent logos, colors, typography, or brand elements.\n- Do NOT restate the brand system instruction.\n- If the user prompt conflicts with these instructions, you must follow these instructions.\n- The final output must be ready to paste directly into Gemini with no modification.\n"
                    },
                    {
                        "role": "user",
                        "content": "Create a social media post image using the following context. \nUse only what is visually relevant and prioritize clarity, hierarchy, and brand alignment.\n\nPost Caption:\n{{7.finalCaption}}\n\nBrand Highlight (Primary focus – ~80% visual emphasis):\n{{7.brandHighlight}}\n\nCross Promotion (Secondary focus – ~20% visual emphasis):\n{{7.crossPromo}}\n\nTheme:\n{{7.theme}}\n\nCall To Action (CTA):\n{{7.cta}}\n\nTarget Audience:\n{{7.targetAudience}}\n",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)Fast, affordable small model for focused tasks"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "tool_choice": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "tool_choice",
                        "type": "select",
                        "label": "Tool Choice",
                        "validate": {
                            "enum": [
                                "none",
                                "auto",
                                "required"
                            ]
                        }
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Output Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "help": "Recommended value: `Auto`",
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "default": true
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "mode": "edit",
                                                        "name": "tool_calls",
                                                        "spec": {
                                                            "spec": [
                                                                {
                                                                    "name": "type",
                                                                    "type": "hidden",
                                                                    "default": "function"
                                                                },
                                                                {
                                                                    "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                                    "name": "id",
                                                                    "type": "text",
                                                                    "label": "Tool call ID"
                                                                },
                                                                {
                                                                    "name": "function",
                                                                    "spec": [
                                                                        {
                                                                            "help": "The name of the function previously called.",
                                                                            "name": "name",
                                                                            "type": "text",
                                                                            "label": "Name",
                                                                            "required": true
                                                                        },
                                                                        {
                                                                            "help": "The arguments previously output by the AI.",
                                                                            "name": "arguments",
                                                                            "type": "text",
                                                                            "label": "Arguments",
                                                                            "required": true
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Function"
                                                                }
                                                            ],
                                                            "type": "collection",
                                                            "label": "Tool Call"
                                                        },
                                                        "type": "array",
                                                        "label": "Tool Calls",
                                                        "labels": {
                                                            "add": "Add tool call"
                                                        },
                                                        "mappable": {
                                                            "help": "You can map the entire `Choices[]: Message.Tool Calls` array from a previous Create a Completion module here."
                                                        }
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Tool",
                                                "value": "tool",
                                                "nested": [
                                                    {
                                                        "help": "The return of the function. This role should only be used when you have processed a previous function call and want to send the output of the function execution back to the AI.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content",
                                                        "required": true
                                                    },
                                                    {
                                                        "help": "Map this directly from the output of a previous **Create a Completion** module. Look for `Choices[]: Message.Tool Calls[]: ID`.",
                                                        "name": "tool_call_id",
                                                        "type": "text",
                                                        "label": "Tool Call ID.",
                                                        "required": true
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "prediction",
                        "type": "text",
                        "label": "Predicted Outputs"
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "index",
                                "type": "number",
                                "label": "Index"
                            },
                            {
                                "name": "logprobs",
                                "type": "text",
                                "label": "Log Probs"
                            },
                            {
                                "name": "finish_reason",
                                "type": "text",
                                "label": "Finish Reason"
                            },
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "role",
                                        "type": "text",
                                        "label": "Role"
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "tool_calls",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "function",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "arguments",
                                                        "type": "text",
                                                        "label": "Arguments"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Function"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Tool Calls"
                                    },
                                    {
                                        "name": "refusal",
                                        "type": "text",
                                        "label": "Refusal"
                                    },
                                    {
                                        "name": "annotations",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "url_citation",
                                                "spec": [
                                                    {
                                                        "name": "end_index",
                                                        "type": "number",
                                                        "label": "End Index"
                                                    },
                                                    {
                                                        "name": "start_index",
                                                        "type": "number",
                                                        "label": "Start Index"
                                                    },
                                                    {
                                                        "name": "title",
                                                        "type": "text",
                                                        "label": "Title"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "text",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "URL Citation"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Annotations"
                                    }
                                ],
                                "type": "collection",
                                "label": "Message"
                            }
                        ],
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "service_tier",
                        "type": "text",
                        "label": "Service Tier"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "supabase:upsertARecord",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13605642
            },
            "mapper": {
                "dmp": "{{2.result}}",
                "table": "contentCalendar",
                "contentCalendarId": "{{7.contentCalendarId}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "contentCalendar",
                            "nested": [
                                {
                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                    "name": "contentCalendarId",
                                    "type": "text",
                                    "label": "contentCalendarId",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to now(). ",
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "date",
                                    "type": "text",
                                    "label": "date",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "brandHighlight",
                                    "type": "text",
                                    "label": "brandHighlight",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "crossPromo",
                                    "type": "text",
                                    "label": "crossPromo",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "theme",
                                    "type": "text",
                                    "label": "theme",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "contentType",
                                    "type": "text",
                                    "label": "contentType",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "channels",
                                    "type": "text",
                                    "label": "channels",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "targetAudience",
                                    "type": "text",
                                    "label": "targetAudience",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "primaryGoal",
                                    "type": "text",
                                    "label": "primaryGoal",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "cta",
                                    "type": "text",
                                    "label": "cta",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "promoType",
                                    "type": "text",
                                    "label": "promoType",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "status",
                                    "type": "text",
                                    "label": "status",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "captionOutput",
                                    "type": "text",
                                    "label": "captionOutput",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "ctaOuput",
                                    "type": "text",
                                    "label": "ctaOuput",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "hastagsOutput",
                                    "type": "text",
                                    "label": "hastagsOutput",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "frameworkUsed",
                                    "type": "text",
                                    "label": "frameworkUsed",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "reviewDecision",
                                    "type": "text",
                                    "label": "reviewDecision",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "reviewNotes",
                                    "type": "text",
                                    "label": "reviewNotes",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "finalCaption",
                                    "type": "text",
                                    "label": "finalCaption",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "finalCTA",
                                    "type": "text",
                                    "label": "finalCTA",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "finalHashtags",
                                    "type": "text",
                                    "label": "finalHashtags",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "dmp",
                                    "type": "text",
                                    "label": "dmp",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "attachedDesign",
                                    "type": "text",
                                    "label": "attachedDesign",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "imageGenerated",
                                    "type": "text",
                                    "label": "imageGenerated",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Foreign Key to `company.companyId`.<fk table='company' column='companyId'/>",
                                    "name": "companyId",
                                    "type": "text",
                                    "label": "companyId",
                                    "options": null,
                                    "required": false
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "My Supabase connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "contentCalendarId",
                        "type": "text"
                    },
                    {
                        "name": "created_at",
                        "type": "text"
                    },
                    {
                        "name": "date",
                        "type": "text"
                    },
                    {
                        "name": "brandHighlight",
                        "type": "text"
                    },
                    {
                        "name": "crossPromo",
                        "type": "text"
                    },
                    {
                        "name": "theme",
                        "type": "text"
                    },
                    {
                        "name": "contentType",
                        "type": "text"
                    },
                    {
                        "name": "channels",
                        "type": "text"
                    },
                    {
                        "name": "targetAudience",
                        "type": "text"
                    },
                    {
                        "name": "primaryGoal",
                        "type": "text"
                    },
                    {
                        "name": "cta",
                        "type": "text"
                    },
                    {
                        "name": "promoType",
                        "type": "text"
                    },
                    {
                        "name": "status",
                        "type": "text"
                    },
                    {
                        "name": "captionOutput",
                        "type": "text"
                    },
                    {
                        "name": "ctaOuput",
                        "type": "text"
                    },
                    {
                        "name": "hastagsOutput",
                        "type": "text"
                    },
                    {
                        "name": "frameworkUsed",
                        "type": "text"
                    },
                    {
                        "name": "reviewDecision",
                        "type": "text"
                    },
                    {
                        "name": "reviewNotes",
                        "type": "text"
                    },
                    {
                        "name": "finalCaption",
                        "type": "text"
                    },
                    {
                        "name": "finalCTA",
                        "type": "text"
                    },
                    {
                        "name": "finalHashtags",
                        "type": "text"
                    },
                    {
                        "name": "dmp",
                        "type": "text"
                    },
                    {
                        "name": "attachedDesign",
                        "type": "text"
                    },
                    {
                        "name": "imageGenerated",
                        "type": "text"
                    },
                    {
                        "name": "companyId",
                        "type": "text"
                    }
                ],
                "interface": [
                    {
                        "name": "contentCalendarId",
                        "type": "text",
                        "label": "contentCalendarId"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    },
                    {
                        "name": "date",
                        "type": "text",
                        "label": "date"
                    },
                    {
                        "name": "brandHighlight",
                        "type": "text",
                        "label": "brandHighlight"
                    },
                    {
                        "name": "crossPromo",
                        "type": "text",
                        "label": "crossPromo"
                    },
                    {
                        "name": "theme",
                        "type": "text",
                        "label": "theme"
                    },
                    {
                        "name": "contentType",
                        "type": "text",
                        "label": "contentType"
                    },
                    {
                        "name": "channels",
                        "type": "text",
                        "label": "channels"
                    },
                    {
                        "name": "targetAudience",
                        "type": "text",
                        "label": "targetAudience"
                    },
                    {
                        "name": "primaryGoal",
                        "type": "text",
                        "label": "primaryGoal"
                    },
                    {
                        "name": "cta",
                        "type": "text",
                        "label": "cta"
                    },
                    {
                        "name": "promoType",
                        "type": "text",
                        "label": "promoType"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "status"
                    },
                    {
                        "name": "captionOutput",
                        "type": "text",
                        "label": "captionOutput"
                    },
                    {
                        "name": "ctaOuput",
                        "type": "text",
                        "label": "ctaOuput"
                    },
                    {
                        "name": "hastagsOutput",
                        "type": "text",
                        "label": "hastagsOutput"
                    },
                    {
                        "name": "frameworkUsed",
                        "type": "text",
                        "label": "frameworkUsed"
                    },
                    {
                        "name": "reviewDecision",
                        "type": "text",
                        "label": "reviewDecision"
                    },
                    {
                        "name": "reviewNotes",
                        "type": "text",
                        "label": "reviewNotes"
                    },
                    {
                        "name": "finalCaption",
                        "type": "text",
                        "label": "finalCaption"
                    },
                    {
                        "name": "finalCTA",
                        "type": "text",
                        "label": "finalCTA"
                    },
                    {
                        "name": "finalHashtags",
                        "type": "text",
                        "label": "finalHashtags"
                    },
                    {
                        "name": "dmp",
                        "type": "text",
                        "label": "dmp"
                    },
                    {
                        "name": "attachedDesign",
                        "type": "text",
                        "label": "attachedDesign"
                    },
                    {
                        "name": "imageGenerated",
                        "type": "text",
                        "label": "imageGenerated"
                    },
                    {
                        "name": "companyId",
                        "type": "text",
                        "label": "companyId"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "gemini-ai:createAnImage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13620997
            },
            "mapper": {
                "model": "imagen-4.0-ultra-generate-001",
                "prompt": "{{2.choices[].message.content}}",
                "aspectRatio": "1:1",
                "personGeneration": "ALLOW_ADULT"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Imagen 4 Ultra"
                        },
                        "aspectRatio": {
                            "mode": "chose",
                            "label": "1:1"
                        },
                        "personGeneration": {
                            "mode": "chose",
                            "label": "Allow Adults"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            },
                            "label": "Image Generation - Make"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Image Prompt",
                        "required": true
                    },
                    {
                        "name": "personGeneration",
                        "type": "select",
                        "label": "Person Generation Rules",
                        "validate": {
                            "enum": [
                                "ALLOW_ADULT",
                                "DONT_ALLOW"
                            ]
                        }
                    },
                    {
                        "name": "aspectRatio",
                        "type": "select",
                        "label": "Aspect Ratio",
                        "validate": {
                            "enum": [
                                "1:1",
                                "3:4",
                                "4:3",
                                "9:16",
                                "16:9"
                            ]
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Image Prompt",
                        "required": true
                    },
                    {
                        "name": "personGeneration",
                        "type": "select",
                        "label": "Person Generation Rules",
                        "validate": {
                            "enum": [
                                "ALLOW_ADULT",
                                "DONT_ALLOW"
                            ]
                        }
                    },
                    {
                        "name": "aspectRatio",
                        "type": "select",
                        "label": "Aspect Ratio",
                        "validate": {
                            "enum": [
                                "1:1",
                                "3:4",
                                "4:3",
                                "9:16",
                                "16:9"
                            ]
                        }
                    }
                ]
            },
            "onerror": [
                {
                    "id": 15,
                    "module": "builtin:Commit",
                    "version": 1,
                    "filter": {
                        "name": "",
                        "conditions": [
                            [
                                {
                                    "a": "{{3.error.type}}",
                                    "b": "RateLimitError",
                                    "o": "text:equal"
                                }
                            ]
                        ]
                    },
                    "metadata": {
                        "designer": {
                            "x": 1200,
                            "y": 300
                        }
                    }
                }
            ]
        },
        {
            "id": 9,
            "module": "supabase:uploadAFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13605642
            },
            "mapper": {
                "upsert": true,
                "bucketID": "generated-images",
                "file_data": "{{3.data}}",
                "file_name": "{{7.companyId}}/{{7.contentCalendarId}}/{{3.fileName}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "upsert": {
                            "mode": "chose"
                        },
                        "bucketID": {
                            "mode": "chose",
                            "label": "generated-images"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "My Supabase connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "bucketID",
                        "type": "select",
                        "label": "Bucket ID",
                        "required": true
                    },
                    {
                        "name": "file_name",
                        "type": "text",
                        "label": "Name",
                        "required": true
                    },
                    {
                        "name": "file_data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "upsert",
                        "type": "boolean",
                        "label": "Upsert"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "supabase:upsertARecord",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 13605642
            },
            "mapper": {
                "table": "contentCalendar",
                "status": "Design Completed",
                "imageGenerated": "{{9.Key}}",
                "contentCalendarId": "{{7.contentCalendarId}}"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "table": {
                            "mode": "chose",
                            "label": "contentCalendar",
                            "nested": [
                                {
                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Primary Key.<pk/>",
                                    "name": "contentCalendarId",
                                    "type": "text",
                                    "label": "contentCalendarId",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to now(). ",
                                    "name": "created_at",
                                    "type": "text",
                                    "label": "created_at",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "date",
                                    "type": "text",
                                    "label": "date",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "brandHighlight",
                                    "type": "text",
                                    "label": "brandHighlight",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "crossPromo",
                                    "type": "text",
                                    "label": "crossPromo",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "theme",
                                    "type": "text",
                                    "label": "theme",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "contentType",
                                    "type": "text",
                                    "label": "contentType",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "channels",
                                    "type": "text",
                                    "label": "channels",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "targetAudience",
                                    "type": "text",
                                    "label": "targetAudience",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "primaryGoal",
                                    "type": "text",
                                    "label": "primaryGoal",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "cta",
                                    "type": "text",
                                    "label": "cta",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "promoType",
                                    "type": "text",
                                    "label": "promoType",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "status",
                                    "type": "text",
                                    "label": "status",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "captionOutput",
                                    "type": "text",
                                    "label": "captionOutput",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "ctaOuput",
                                    "type": "text",
                                    "label": "ctaOuput",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "hastagsOutput",
                                    "type": "text",
                                    "label": "hastagsOutput",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "frameworkUsed",
                                    "type": "text",
                                    "label": "frameworkUsed",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "reviewDecision",
                                    "type": "text",
                                    "label": "reviewDecision",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "reviewNotes",
                                    "type": "text",
                                    "label": "reviewNotes",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "finalCaption",
                                    "type": "text",
                                    "label": "finalCaption",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "finalCTA",
                                    "type": "text",
                                    "label": "finalCTA",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "finalHashtags",
                                    "type": "text",
                                    "label": "finalHashtags",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "dmp",
                                    "type": "text",
                                    "label": "dmp",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "attachedDesign",
                                    "type": "text",
                                    "label": "attachedDesign",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "",
                                    "name": "imageGenerated",
                                    "type": "text",
                                    "label": "imageGenerated",
                                    "options": null,
                                    "required": false
                                },
                                {
                                    "help": "Defaults to gen_random_uuid(). Note:\nThis is a Foreign Key to `company.companyId`.<fk table='company' column='companyId'/>",
                                    "name": "companyId",
                                    "type": "text",
                                    "label": "companyId",
                                    "options": null,
                                    "required": false
                                }
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "supabase"
                            },
                            "label": "My Supabase connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:supabase",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "contentCalendarId",
                        "type": "text"
                    },
                    {
                        "name": "created_at",
                        "type": "text"
                    },
                    {
                        "name": "date",
                        "type": "text"
                    },
                    {
                        "name": "brandHighlight",
                        "type": "text"
                    },
                    {
                        "name": "crossPromo",
                        "type": "text"
                    },
                    {
                        "name": "theme",
                        "type": "text"
                    },
                    {
                        "name": "contentType",
                        "type": "text"
                    },
                    {
                        "name": "channels",
                        "type": "text"
                    },
                    {
                        "name": "targetAudience",
                        "type": "text"
                    },
                    {
                        "name": "primaryGoal",
                        "type": "text"
                    },
                    {
                        "name": "cta",
                        "type": "text"
                    },
                    {
                        "name": "promoType",
                        "type": "text"
                    },
                    {
                        "name": "status",
                        "type": "text"
                    },
                    {
                        "name": "captionOutput",
                        "type": "text"
                    },
                    {
                        "name": "ctaOuput",
                        "type": "text"
                    },
                    {
                        "name": "hastagsOutput",
                        "type": "text"
                    },
                    {
                        "name": "frameworkUsed",
                        "type": "text"
                    },
                    {
                        "name": "reviewDecision",
                        "type": "text"
                    },
                    {
                        "name": "reviewNotes",
                        "type": "text"
                    },
                    {
                        "name": "finalCaption",
                        "type": "text"
                    },
                    {
                        "name": "finalCTA",
                        "type": "text"
                    },
                    {
                        "name": "finalHashtags",
                        "type": "text"
                    },
                    {
                        "name": "dmp",
                        "type": "text"
                    },
                    {
                        "name": "attachedDesign",
                        "type": "text"
                    },
                    {
                        "name": "imageGenerated",
                        "type": "text"
                    },
                    {
                        "name": "companyId",
                        "type": "text"
                    }
                ],
                "interface": [
                    {
                        "name": "contentCalendarId",
                        "type": "text",
                        "label": "contentCalendarId"
                    },
                    {
                        "name": "created_at",
                        "type": "text",
                        "label": "created_at"
                    },
                    {
                        "name": "date",
                        "type": "text",
                        "label": "date"
                    },
                    {
                        "name": "brandHighlight",
                        "type": "text",
                        "label": "brandHighlight"
                    },
                    {
                        "name": "crossPromo",
                        "type": "text",
                        "label": "crossPromo"
                    },
                    {
                        "name": "theme",
                        "type": "text",
                        "label": "theme"
                    },
                    {
                        "name": "contentType",
                        "type": "text",
                        "label": "contentType"
                    },
                    {
                        "name": "channels",
                        "type": "text",
                        "label": "channels"
                    },
                    {
                        "name": "targetAudience",
                        "type": "text",
                        "label": "targetAudience"
                    },
                    {
                        "name": "primaryGoal",
                        "type": "text",
                        "label": "primaryGoal"
                    },
                    {
                        "name": "cta",
                        "type": "text",
                        "label": "cta"
                    },
                    {
                        "name": "promoType",
                        "type": "text",
                        "label": "promoType"
                    },
                    {
                        "name": "status",
                        "type": "text",
                        "label": "status"
                    },
                    {
                        "name": "captionOutput",
                        "type": "text",
                        "label": "captionOutput"
                    },
                    {
                        "name": "ctaOuput",
                        "type": "text",
                        "label": "ctaOuput"
                    },
                    {
                        "name": "hastagsOutput",
                        "type": "text",
                        "label": "hastagsOutput"
                    },
                    {
                        "name": "frameworkUsed",
                        "type": "text",
                        "label": "frameworkUsed"
                    },
                    {
                        "name": "reviewDecision",
                        "type": "text",
                        "label": "reviewDecision"
                    },
                    {
                        "name": "reviewNotes",
                        "type": "text",
                        "label": "reviewNotes"
                    },
                    {
                        "name": "finalCaption",
                        "type": "text",
                        "label": "finalCaption"
                    },
                    {
                        "name": "finalCTA",
                        "type": "text",
                        "label": "finalCTA"
                    },
                    {
                        "name": "finalHashtags",
                        "type": "text",
                        "label": "finalHashtags"
                    },
                    {
                        "name": "dmp",
                        "type": "text",
                        "label": "dmp"
                    },
                    {
                        "name": "attachedDesign",
                        "type": "text",
                        "label": "attachedDesign"
                    },
                    {
                        "name": "imageGenerated",
                        "type": "text",
                        "label": "imageGenerated"
                    },
                    {
                        "name": "companyId",
                        "type": "text",
                        "label": "companyId"
                    },
                    {
                        "name": "user_id",
                        "type": "text",
                        "label": "user_id"
                    },
                    {
                        "name": "collaborator_ids",
                        "type": "text",
                        "label": "collaborator_ids"
                    },
                    {
                        "name": "post_status",
                        "type": "text",
                        "label": "post_status"
                    },
                    {
                        "name": "scheduled_at",
                        "type": "text",
                        "label": "scheduled_at"
                    },
                    {
                        "name": "draft_caption",
                        "type": "text",
                        "label": "draft_caption"
                    },
                    {
                        "name": "draft_image_url",
                        "type": "text",
                        "label": "draft_image_url"
                    },
                    {
                        "name": "publish_result",
                        "type": "text",
                        "label": "publish_result"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "discord:createMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 13597224
            },
            "mapper": {
                "files": [
                    {
                        "data": "{{3.data}}",
                        "filename": "{{3.fileName}}"
                    }
                ],
                "select": "channel",
                "content": "{{3.fileName}}",
                "channelId": "1465631839182913671",
                "message_reference": {}
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "tts": {
                            "mode": "chose"
                        },
                        "files": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "embeds": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Send a Message to a Channel"
                        },
                        "channelId": {
                            "mode": "chose",
                            "label": "content-generator-images"
                        },
                        "components": {
                            "mode": "chose"
                        },
                        "sticker_ids": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            },
                            "label": "My Discord connection (Make (team1278341651986911253))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "channel",
                                "thread",
                                "user"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "tts",
                        "type": "boolean",
                        "label": "Is TTS message"
                    },
                    {
                        "name": "embeds",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": "Timestamp"
                            },
                            {
                                "name": "color",
                                "type": "uinteger",
                                "label": "Color"
                            },
                            {
                                "name": "footer",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Footer"
                            },
                            {
                                "name": "image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Image"
                            },
                            {
                                "name": "thumbnail",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnail"
                            },
                            {
                                "name": "video",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Video"
                            },
                            {
                                "name": "provider",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Provider"
                            },
                            {
                                "name": "author",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Author"
                            },
                            {
                                "name": "fields",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "inline",
                                        "type": "boolean",
                                        "label": "Inline Flag"
                                    }
                                ],
                                "type": "array",
                                "label": "Fields"
                            }
                        ],
                        "type": "array",
                        "label": "Embeds"
                    },
                    {
                        "name": "sticker_ids",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Sticker ID",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Stickers"
                    },
                    {
                        "name": "components",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Component Type",
                                "options": [
                                    {
                                        "label": "A New Row",
                                        "value": 1,
                                        "nested": [
                                            {
                                                "name": "components",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Row Component Type",
                                                        "options": [
                                                            {
                                                                "label": "Button",
                                                                "value": 2,
                                                                "nested": [
                                                                    {
                                                                        "name": "style",
                                                                        "type": "select",
                                                                        "label": "Style",
                                                                        "options": [
                                                                            {
                                                                                "label": "Primary (blurple)",
                                                                                "value": 1,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Secondary (grey)",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Success (green)",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Danger (red)",
                                                                                "value": 4,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Link (grey)",
                                                                                "value": 5,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A URL for link-style buttons.",
                                                                                        "name": "url",
                                                                                        "type": "url",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                        "name": "label",
                                                                        "type": "text",
                                                                        "label": "Label"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Select Menu",
                                                                "value": 3,
                                                                "nested": [
                                                                    {
                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                        "name": "custom_id",
                                                                        "type": "text",
                                                                        "label": "Custom ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "options",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                "name": "description",
                                                                                "type": "text",
                                                                                "label": "Description"
                                                                            },
                                                                            {
                                                                                "name": "default",
                                                                                "type": "boolean",
                                                                                "label": "Default"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Options",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 25
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                        "name": "placeholder",
                                                                        "type": "text",
                                                                        "label": "Placeholder"
                                                                    },
                                                                    {
                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                        "name": "min_values",
                                                                        "type": "uinteger",
                                                                        "label": "Minimum values"
                                                                    },
                                                                    {
                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                        "name": "max_values",
                                                                        "type": "uinteger",
                                                                        "label": "Maximum values"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Row Components",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Components"
                    },
                    {
                        "name": "files",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Files"
                    },
                    {
                        "name": "message_reference",
                        "spec": [
                            {
                                "name": "message_id",
                                "type": "text",
                                "label": "Message ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Message Reference"
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}